<% include ../header %>
<div class="pure-u-1-1">

<div class="runs-table-responsive">
<table class="runs">
  <thead>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="info">last run</td>
    <td class="info">last duration</td>
    <td class="info">recent history</td>
  </tr>
  </thead>
  <tr>
  <% jobs.forEach(function(job){ %>
  <% if(job.runs.length) { var run = job.runs[0]; %>
    <td class="state badge"><a class="tip tip-left" data-tip="#<%= run.NUM %>" href="/job/<%= run.SLUG %>/<%= run.NUM %>"><img src="/img/<%= run.TO.ST %>.png" /><span class="bg-<%= run.TO.ST %>"><%= run.TO.ST %></span></a></td>

    <td class="run"><a class="tip tip-right" data-tip="run <%= job.ALIAS %>" href="/job/<%= job.SLUG %>/run"><img class="run" src="/img/RUN.png"/></a></td>

    <td class="job"><a href="/job/<%= job.SLUG %>"><%= job.ALIAS %><a/></td>
    <td></td>
    <td class="info time"><% if(run.END) { %><a href="/job/<%= run.SLUG %>/<%= run.NUM %>" data-END="<%= run.END %>"><%- moment.duration((run.END - now), 'seconds').humanize(true) %></a><% } %></td>
    <td class="info time"><% if(run.END) { %><a href="/job/<%= run.SLUG %>/<%= run.NUM %>"><%= run.DU %><span class="testing"><%= run.TO.DU %></span></a><% } %></td>

    <td class="info state history">
      <% job.runs.forEach(function(run, i){ %>
        <a class="tip tip-far-left" data-tip="#<%= run.NUM %>" href="/job/<%= run.SLUG %>/<%= run.NUM %>"><img class="bb-<%= run.TO.ST %>" src="/img/<%= run.TO.ST %>.png" /></a>
      <% }); %>
    </td>
  <% } else { %>
    <td class="state badge"></td>
    <td class="run"><a class="tip tip-right" data-tip="run <%= job.ALIAS %>" href="/job/<%= job.SLUG %>/run"><img class="run" src="/img/RUN.png"/></a></td>
    <td class="job"><a href="/job/<%= job.SLUG %>"><%= job.ALIAS %><a/></td>
    <td colspan="4"></td>
  <% } %>
  </tr>
  <% }); %>
</table>
</div>

</div>
<% include ../footer %>
