<% locals.subtitle = '<a href="/job/' + job.SLUG + '">' + job.ALIAS + '</a> <a href="/open/' + job.SLUG + '/' +run.NUM + '">#' + run.NUM +'</a>' %>
<% locals.ctrls = true; %>

<% include ../header %>

<div class="pure-u-1-4 logs">
  <div class="log log-mini">
  <% tests.forEach(function(test){ %>
    <h2><%= test %></h2>
    <ul data-test="<%= test %>" class="test-log-mini"></ul>
  <% }) %>
  </div>
</div>

<div class="pure-u-3-4 logs">
  <div class="log log-full">
  <% tests.forEach(function(test){ %>
    <div data-test="<%= test %>" class="test-log-viewer">
      <h2><%= test %></h2>
      <ul data-test="<%= test %>" class="test-log-full"></ul>
      <span data-test="<%= test %>" class="test-tip"></span>
    </div>
  <% }) %>
  </div>
</div>

<% include ../footer %>
