<!-- if meta -->
<div class="lots">
  <ul>
    <li><%= lots.total.tickets %> tickets</li>
    <li><%= lots.total.tags %> tags</li>
    <li class="cache">
      <% if(lots.cached){ %>
      <span>cache</span> generated in <%= lots.generationTime %> seconds
      <br><%= lots.cacheDate %> <a href="/lots">[bust cache]</a>
      <% } else { %>
      generated in<br><%= lots.generationTime %> seconds <a href="/">[use cached]</a>
      <% } %>
    </li>
  </ul>
</div>
